
<app-user-data-list></app-user-data-list>
<section class="container">

	<form>
		<div class="mb-3 row">
			<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
			<div class="col-xs-3 col-sm-auto">
				<input
					id="table-complete-search"
					type="text"
					class="form-control"
					name="searchTerm"
					[(ngModel)]="apiIntgrationService.searchTerm"
				/>
			</div>
			@if (apiIntgrationService.loading$ | async) {
				<span class="col col-form-label">Loading...</span>
			}
		</div>

		<table class="table table-striped">
			<thead>
			  <tr>
				<th>ID</th>
				<th>price</th>
				<th>title</th>
			  </tr>
			</thead>
			<tbody>
		
			  <tr *ngFor="let product of dataList$ | async; track product?.id">
				<td>{{ product.id }}</td>
				<td>{{ product.price }}</td>
				<td>{{ product.title }}</td>
			  </tr>
		
			</tbody>
		  </table>

		<div class="d-flex justify-content-between p-2">
			<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="apiIntgrationService.page" [pageSize]="apiIntgrationService.pageSize">
			</ngb-pagination>

			<select class="form-select" name="pageSize" [(ngModel)]="apiIntgrationService.pageSize">
				<option [ngValue]="2">2 items per page</option>
				<option [ngValue]="4">4 items per page</option>
				<option [ngValue]="6">6 items per page</option>
			</select>
		</div>
	</form>

</section>
